@model MonSiteMvc.Models.NombreViewModel
@{
    ViewData["Title"] = "Page Perso";
}

<div class="text-center">
    <h1 class="display-4">Salut Cédric 👋</h1>
    <p>Voici un nombre aléatoire généré côté serveur :</p>
    <h2>@ViewData["NombreAleatoire"]</h2>
</div>